////////////////////////////
// Colors
///////////////////////////
$body-bg: #f5f8fa;
$color-primary: rgb(0, 102, 255);
$color-primary-light: rgb(128, 179, 255);
$color-primary-dark: rgb(0, 71, 179);
$color-accent: rgb(204, 255, 153);
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);



// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
