////////////////////////////
// Colors
///////////////////////////
$body-bg: #f5f8fa;
$color-primary: rgb(102, 51, 0);
$color-secondary: rgb(51, 102, 0);
$color-tertiary: rgb(255, 133, 102);
$color-quaternary: rgb(51, 10, 0);
$color-accent: rgb(204, 255, 153);
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-gray-dark: #777;

$slider-color-1: rgb(51, 204, 255);
$slider-color-2: rgb(204, 102, 255);
$slider-color-3: rgb(255, 153, 102);
$slider-color-4: rgb(204, 255, 51);


